<nav>
    <div class="site-title">
      <a href="/"><h1>Ed's Exercise Log</p>
    </div>
    <ul>
      <li><a href="/">logs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/logs/create">New log</a></li>
    </ul>
  </nav>