<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About The Site</h2>
        <p>This site allows you to log your exercises for every day :)</p>
        <p>Click on new log on the nav bar to log your exercises</p>
    </div>
</body>

    <%- include('./partials/footer.ejs') %>

</html>